@font-face {
  font-family: 'PixelFont'; /* Define a custom font family name */
  src: url('./media/PublicPixel-E447g.ttf') format('truetype'), /* Specify the font file and format */
}

h1 {
    font-family: 'PixelFont', san-serif;
    font-size:24px;
    font-weight: bold;
    text-align:center;
    margin-top:20px;
    color: #FCE9EF;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size:18px;
    text-align:center;
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size:14px;
  text-align:center;
  margin-top:20px;
  margin-left:20px;
  margin-right:20px;
}

h4 {
  font-family: 'Courier New', Courier, monospace;
  font-size:14px;
  text-align:center;
}

button {
    font-family: monaco, monospace;
    font-weight:bold;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
}

body, html {
    height: 100%;
    margin: 0;
    background-image:url('./media/kirby-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .left-window {
    width: 45%;
    float: left;
  }
  
  .right-window {
    width: 50%;
    float: right;
  }

  .left-section {
    width: 33%;
    float: left;
    padding: 20px;
  }
  
  .right-section {
    width: 33%;
    float: right;
    padding: 20px;
  }

  .center-section {
    width: 33%;
    float: center;
    padding: 20px;
  }
  
  /* Clearfix to contain floats */
  .container::after {
    content: "";
    display: table;
    clear: both;
  }
