h1 {
    font-family: monaco, monospace;
    font-size:24px;
    font-weight: bold;
    text-align:center;
}

h2 {
    font-family: monaco, monospace;
    font-size:20px;
    text-align:center;
}

button {
    font-family: monaco, monospace;
    font-weight:bold;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
}

body, html {
    height: 100%;
    margin: 0;
    background-image:url('./media/kirby-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .left-window {
    width: 40%;
    float: left;
    padding: 20px;
  }
  
  .right-window {
    width: 60%;
    float: right;
    padding: 20px;
  }

  .left-section {
    width: 50%;
    float: left;
    padding: 20px;
  }
  
  .right-section {
    width: 50%;
    float: right;
    padding: 20px;
  }
  
  /* Clearfix to contain floats */
  .container::after {
    content: "";
    display: table;
    clear: both;
  }