<!DOCTYPE html>
<html>
<link href="../static/styles.css" rel="stylesheet" type="text/css"/>

<body>

  <div style="border-radius:10px;border:solid;background-color:white;width:35vw;height:80vh;margin-left:5vw;margin-right:auto;margin-top:10vh;">

    <h1 style="margin-top:20px;">ROOM LIGHT SENSOR</h1>

      <form action="/date" method="GET" style="margin-left:20px">
        Date:
        <input style="display:block;margin:auto" type="date" id="date_request" name="input_date" min="2024-04-10" max="2024-05-16" required pattern="'\d{4}-\d{2}-\d{2}'" />
        Room Number:
        <input type="radio" name="room" value="312"> 312
        <input type="radio" name="room" value="305"> 305
        <button type="submit" id="search_button">Search</button>
      </form>

      <!-- Section for Show-By-Hour/Day Buttons--> 
      <div>
        <!-- Section for Left Side--> 
        <div class="left-section" style="border-radius:10px;border:solid;background-color:white;border-color:#F0B5CA;width:35%;height:10px;margin-top:auto;margin-bottom:auto">
          <h4 style="margin-left:10px;margin-right:20px;margin-top:auto;margin-bottom:auto">
            <input type="radio" name="show" value="day"> Show By Day
          </h4>
        </div>
        <!-- Section for Right Side--> 
        <div class="right-section" style="border-radius:10px;border:solid;background-color:white;border-color:#F0B5CA;width:35%;height:10px;margin-top:auto;margin-bottom:auto">
          <h4 style="margin-left:10px;margin-right:20px;margin-top:auto;margin-bottom:auto">
            <input type="radio" name="show" value="hour"> Show By Hour
          </h4>
        </div>
      </div>
      
      <div style="border-radius:10px;border:solid;background-color:white;width:70%;height:42.5%;margin-left:auto;margin-right:auto;margin-top:15%;">
      <h2>
	{% block content %}
	{% endblock %}
      </h2>
    </div>
    
  </div>

</body>

<script src="../static/changepage.js" type="text/javascript"></script>

</html>
