{% extends 'base.html' %}

{% block byday_info %}
  <h2 style="margin-top:auto;margin-bottom:auto;">Lights were on for {{ time_on }} minutes on {{date}} in Room {{room_number}}</h2>
{% endblock %}

{% block byhour_info %}
  <h2 style="margin-top:auto;margin-bottom:auto;">
    00:00 - {{hour}} minutes <br>
    01:00 - {{hour}} minutes <br>
    02:00 - {{hour}} minutes <br>
    07:00 - {{hour}} minutes <br>
    03:00 - {{hour}} minutes <br>
    04:00 - {{hour}} minutes <br>
    05:00 - {{hour}} minutes <br>
    06:00 - {{hour}} minutes <br>
    07:00 - {{hour}} minutes <br>
    08:00 - {{hour}} minutes <br>
    09:00 - {{hour}} minutes <br>
    10:00 - {{hour}} minutes <br>
    11:00 - {{hour}} minutes <br>
    12:00 - {{hour}} minutes <br>
    07:00 - {{hour}} minutes <br>
    13:00 - {{hour}} minutes <br>
    14:00 - {{hour}} minutes <br>
    15:00 - {{hour}} minutes <br>
    16:00 - {{hour}} minutes <br>
    17:00 - {{hour}} minutes <br>
    18:00 - {{hour}} minutes <br>
    19:00 - {{hour}} minutes <br>
    20:00 - {{hour}} minutes <br>
    21:00 - {{hour}} minutes <br>
    22:00 - {{hour}} minutes <br>
    23:00 - {{hour}} minutes <br>
    
  </h2>
{% endblock %}