{% extends 'base.html' %}

{% block byday_info %}
  <h2 style="margin-top:auto;margin-bottom:auto;">Lights were on for {{ time_on }} minutes on {{date}} in Room {{room_number}}</h2>
{% endblock %}

{% block byhour_info %}
  <h2 style="margin-top:auto;margin-bottom:auto;">
    00:00 - {{hour0}} minutes <br>
    01:00 - {{hour1}} minutes <br>
    02:00 - {{hour2}} minutes <br>
    03:00 - {{hour3}} minutes <br>
    04:00 - {{hour4}} minutes <br>
    05:00 - {{hour5}} minutes <br>
    06:00 - {{hour6}} minutes <br>
    07:00 - {{hour7}} minutes <br>
    08:00 - {{hour8}} minutes <br>
    09:00 - {{hour9}} minutes <br>
    10:00 - {{hour10}} minutes <br>
    11:00 - {{hour11}} minutes <br>
    12:00 - {{hour12}} minutes <br>
    13:00 - {{hour13}} minutes <br>
    14:00 - {{hour14}} minutes <br>
    15:00 - {{hour15}} minutes <br>
    16:00 - {{hour16}} minutes <br>
    17:00 - {{hour17}} minutes <br>
    18:00 - {{hour18}} minutes <br>
    19:00 - {{hour19}} minutes <br>
    20:00 - {{hour20}} minutes <br>
    21:00 - {{hour21}} minutes <br>
    22:00 - {{hour22}} minutes <br>
    23:00 - {{hour23}} minutes <br>
    
  </h2>
{% endblock %}